@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
html {
  font-family: 'Poppins', sans-serif;
}
.main {
  position: relative;
  background: #f3f2f8;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .brand-wrapper {
  position: relative;
  z-index: 1;
}
.main .brand-wrapper h1 {
  font-weight: 700;
  font-size: 14vw;
  line-height: 0.8;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.main .brand-wrapper h5 {
  position: absolute;
  line-height: 1;
  top: 100%;
  right: 0;
  font-weight: 900;
  font-size: 2.5vw;
  line-height: 1;
  text-align: right;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f1f0f8;
}
.main .shoe-image {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 35vw;
}
.main .shoe-image .shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.bubbles {
  position: absolute;
}
.bubbles-top {
  top: 10%;
  right: 16%;
  width: 20vw;
  height: 18vw;
}
.bubbles-bottom {
  bottom: 12%;
  left: 10%;
  width: 16vw;
  height: 15vw;
}
.bubble-1 {
  width: 12vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-animation: slide-top 2.5s ease-in-out infinite alternate backwards;
  animation: slide-top 2.5s ease-in-out infinite alternate backwards;
}
.bubble-2 {
  width: 6vw;
  position: absolute;
  right: 2vw;
  top: 0px;
  -webkit-animation: slide-top 2.2s ease-in-out infinite alternate backwards;
  animation: slide-top 2.2s ease-in-out infinite alternate backwards;
}
.bubble-3 {
  width: 4vw;
  position: absolute;
  right: 0px;
  bottom: 2vw;
  -webkit-animation: slide-top 1.5s ease-in-out infinite alternate backwards;
  animation: slide-top 1.5s ease-in-out infinite alternate backwards;
}
.bubble-4 {
  width: 11vw;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-animation: slide-top 3s ease-in-out infinite alternate backwards;
  animation: slide-top 3s ease-in-out infinite alternate backwards;
}
.bubble-5 {
  width: 5vw;
  position: absolute;
  left: 2vw;
  bottom: 0px;
  -webkit-animation: slide-top 2s ease-in-out infinite alternate backwards;
  animation: slide-top 2s ease-in-out infinite alternate backwards;
}
.bubble-6 {
  width: 3vw;
  position: absolute;
  left: 0px;
  top: 2vw;
  -webkit-animation: slide-top 1.75s ease-in-out infinite alternate backwards;
  animation: slide-top 1.75s ease-in-out infinite alternate backwards;
}

@supports (-webkit-text-stroke: 1px black) {
  h5 {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: #f1f0f8;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
